<!-- <mat-toolbar color="primary">
  <span>Stock Analysis</span>
  <span class="spacer"></span>

  <mat-form-field appearance="outline" class="search-field">
    <input matInput placeholder="Search stocks..." [(ngModel)]="searchTerm">
  </mat-form-field>
  <button mat-icon-button (click)="onSearch()">
    <mat-icon>search</mat-icon>
  </button>
</mat-toolbar> -->

<mat-toolbar>
  <span class="title">DASH-GTD FINANCE DASHBOARD</span>
  <span class="spacer"></span>
  <input class="search-field" type="text" placeholder="Search stocks..." [(ngModel)]="searchTerm" (keyup.enter)="onSearch()">
  <button (click)="onSearch()">Search</button>
</mat-toolbar>